
body {
    background-color: #cfcfcf;
    padding-top: 70px;
    overflow-x: hidden;
  
    

}



article.home {
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    
}


.content {
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Courier New', Courier, monospace;
}


.content h1 {
    font-size: 50px;
    font-weight: bold;
    
}

.content p {
    font-size: 30px;
    font-weight: 300;
}



article.sites.posicao {
    display: flex;
    justify-content: center;
    align-items: center;
}

article.sobre {
    background: rgb(0,65,126);
    background: linear-gradient(0deg, rgba(0,65,126,1) 0%, rgba(33,115,148,1) 50%, rgba(0,212,255,1) 100%);
    color: white;
    padding: 15px;
}

article.sobre h6 {
    
    padding: 10px;
    border-radius: 10px;
    
    font-size: 20px;
}

article.sobre .Luiz {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    transition: 0.5s ease-in-out;
}

article.sobre .box {
    margin: 10px auto;
    transition: 0.5s ease-in-out;
}

article.Sites {
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    transition: 0.5s ease-in-out;
}


.Luiz img {
   
    border-radius: 15px;
    box-shadow: 0 0 15px #ffffff;
    transition: 0.5s ease-in-out;
}




footer {
    padding: 30px;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.814);
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

footer h6, footer h3 {
    padding: 20px;
}

footer a {
    background-color: whitesmoke;
    display: inline-block;
    box-shadow: 0 0 15px #ffffff;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 10px;
    opacity: 0.7;
    color: #f8f8f8;
    transition: 0.5s ease-in-out;
    text-decoration: none;
}

footer a:hover {
    opacity: 1;
    border-radius: 50%;
}

.card-img-top {
    width: 100%;
    height: 120px;
    object-fit: contain;
}

.card {
    padding: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}