body{

    background-color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    
}

.header{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
}

.header h1{
    font-size: 100px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
}

.main{
    display: flex;
    justify-content: center;
    gap: 50px;
   
}
.jogador{
    
    position: absolute;
    display: inline-block;
}

.jogador p {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-family: sans-serif;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

}

footer{
    text-align: center;
    padding: 50px;
    margin: 50px;
}
