/* ==========================
   CONFIGURAÇÕES GERAIS
   ========================== */
   body {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0, 0, 0, 0.5) 100%);
    font-family: monospace;
    margin: 0;
    padding: 0;
}
section {
    width: 100%; /* Ocupa toda a largura disponível */
    min-height: auto; /* A altura será definida automaticamente pelo conteúdo */
    padding: 20px; /* Adiciona um espaçamento interno */
    margin: 20px 0; /* Espaçamento entre as seções */
    box-sizing: border-box; /* Inclui padding e borda no cálculo do tamanho total */
}
/* ==========================
   HEADER E NAVEGAÇÃO
   ========================== */
header {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    transition: background-color 0.5s ease; /* Transição suave */
    z-index: 1000; 
    position:fixed;
    width: 100%;
    top: 0;
    padding: 10px 0;
}

.nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav a {
    color: white;
    border-radius: 15px;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 20px;
}

.nav a:hover {
    background-color: rgb(81, 185, 255);
    transition: 0.5s;
}


/* ==========================
   SEÇÃO "QUEM SOMOS"
   ========================== */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 50px;
}

.grid-container model-viewer {
    width: 400px;
    height: 400px; 
    margin: auto;
}

.texto {
    text-align: center;
}

.texto h1 {
    font-size: 50px;
    margin: 20px 0;
}

/* ==========================
   SEÇÃO "O QUE FAZEMOS"
   ========================== */
.grid-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 50px;
}

.grid-container1 img {
    padding: 10px;
    margin: auto;
    max-width: 100%;
    border-radius: 20px 200px 20px 20px;
}

.texto1 {
    text-align: center;
}

.texto1 h1 {
    font-size: 50px;
    margin: 10px;
}

.texto1 p {
    font-size: 20px;
    margin: 10px;
}

/* ==========================
   SEÇÃO DE PRODUTOS
   ========================== */
   .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px; 
    height: 100vh;
    position: relative;
}
.item {
    position: relative;
    width: 300px; 
    height: 500px; 
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow: hidden;
    transition: 1s;
}
.item .img-box{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%; 
    transition: 1s;
}
.item .img-box img {
    max-width: 100%; /* Faz com que a imagem se ajuste ao tamanho do contêiner */
    max-height: 100%; /* Garante que a altura da imagem não ultrapasse o contêiner */
    object-fit: contain; /* Mantém a proporção da imagem */
}
.detalhes {
    position: absolute;
    bottom: -270px;
    width: 100%;
    background: #fff;
    padding: 20px; 
    box-sizing: border-box;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: 1s;
}
.detalhes h2{
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    width: 100%;
    font-size: 16px;
}
.detalhes preco{
    position: absolute;
    top: 0;
    right: 25px;
    font-weight: bold;
    font-size: 20px;

}
label{
    display: block;
    margin-top: 5px;
    font-weight: bold;
    font-size: 14px;

}
ul{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin: 0;
    padding: 0;

}
ul li{
    list-style: none;
    margin: 5px 5px 0;
    font-size: 12px;
    font-weight: normal;
    color: #bbb;
    transition: 0.7s;

}
ul li:hover{
    cursor: pointer;
    color: #333;
    transition: 0.7s;
}
ul li:first-child{
    margin-left: 0;

}
ul.cores li{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}
ul.cores li:hover{
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
ul.cores li:nth-child(1){
    background: #000000;
}
ul.cores li:nth-child(2){
    background: #b4b4b4;
}
ul.cores li:nth-child(3){
    background: #30679b;
}
a {
    text-decoration: none;
    display: block;
    padding: 5px;
    color: #fff;
    margin: 15px 0 0;
    text-align: center;
    border-radius: 5px;
    transition: 1s;
    box-shadow: #333;


}
a:hover{
    background: #666;
    transition: 1s;
}
.item:hover{
    background: #666;
    transition: 1s;
}
.item:hover .detalhes{
    overflow: visible;
    bottom: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
    transition: 1s;

}
.item:hover .img-box {
    position: absolute;
    transition: 3s;
    bottom: 100px;
}
.item:hover h2,
.item:hover .preco {
    padding-top: 40px; 
    padding-bottom: 0;
}
/* ==========================
   BOTÕES
   ========================== */
.botao {
    display: flex;
    justify-content: center; 
    text-decoration: none;
    
}

.botao button {
    
    border-radius: 30px;
    font-size: 25px;
    border: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
    
}

.botao button:hover {
    background-color: white;
    color: black;
    
}

.botao a {
    
    border-radius: 30px;
    border: none;
    margin: 5px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    transition: 0.3s;
    text-decoration: none;
    
    
}
.botao a:hover {
    background-color: white;
    color: black;
}

/* ==========================
   SEÇÃO DE CONTATO
   ========================== */
footer {
    background-color: white;
    padding: 30px;
    text-align: center;
}

footer .Contato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
footer .Contato a{
    text-decoration: none;
    background-color: transparent;
}

/* ==========================
   RESPONSIVIDADE
   ========================== */
@media (max-width: 768px) {
    .grid-container, .grid-container1 {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        position: relative;
    }
}

@media (max-width: 1568px) {
    .grid-container, .grid-container1 {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        position: relative;
    }
}

/* ==========================
   Pag 2
   ========================== */

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace, sans-serif;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .LinkVoltar a {
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    
}